<!DOCTYPE html>
<html>
<head>
    <title>Gebruiker Invoer</title>
	<style>
    	body {
            background-image: url("{{ url_for('display_image') }}");
            background-repeat: no-repeat;
            background-size: cover;
   	 }
	</style>
	<style>
    	body {
        	font-family: Arial, sans-serif; /* Set your desired font family */
    	}

	    h1, h2, h3, p {
        	font-family: "Arial", serif; /* Set your desired font family */
    	}
	</style>
</head>
<body>
    <h1>invoer nieuwe verjaardag</h1>
    <form action="/invoer" method="post">
        <label for="voornaam">voornaam:</label>
        <input type="text" name="voornaam" id="voornaam" placeholder="Voer iets in">

        <label for="achternaam">achternaam:</label>
        <input type="text" name="achternaam" id="achternaam" placeholder="Voer iets in">

        <h3>verjaardag</h3>
        <input type="date" name="date">

        <button type="submit">akkoord</button>
        </form>

    <p>je invoer wordt opgeslagen als je op de akkoord knop drukt</p>
    {% if user_input %}
        <p>Invoer was: {{ user_input }}</p>
    {% endif %}
	<a href="/">Terug naar menu</a>
</body>
</html>
